.locations {
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 88%;

  &::after {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    background-color: #292e34;
    width: 95%;
    height: 98%;
    z-index: -100;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
    max-width: 1200px;

    @include min($tablet) {
      width: 100%;
      height: 90%;
    }

    @include min($desktop) {
      top: 12%;
      left: 50%;
      transform: translateX(-50%);

      width: 65%;
      height: 95%;
    }
  }

  @include min($desktop) {
    margin-bottom: 130px;
  }

  &__wrapper {
    @include min($desktop) {
      margin: 0 auto;
      margin-top: 0;
      display: flex;
      flex-direction: row;
      max-width: 1290px;
      box-sizing: border-box;
    }
  }

  &__slider {
    position: relative;
    width: 280px;
    height: 190px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);

    @include min($tablet) {
      width: 670px;
      height: 450px;
      flex-shrink: 0;
    }

    @include min($desktop) {
      margin: 0;
      width: 750px;
      height: 500px;
      flex-shrink: 0;
    }

    &--open {
      position: absolute;
      width: 280px;
      height: 190px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.2);
      transition: scale 2s;
      overflow: visible;
      z-index: 555;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 550;
      }
    }
  }

  &__title {
    margin-bottom: 25px;

    @include min($desktop) {
      width: auto;
      margin-bottom: 35px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @include min($desktop) {
      width: 300px;

      margin-left: 50px;
      text-align: left;

      font-size: 15px;
      line-height: 21px;
    }
  }

  &__list {
    display: flex;
    width: 100%;
  }

  &__item {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    overflow: hidden;
  }

  &__pic {
    width: 100% !important;
  }

  &__picture {
    width: 100%;
  }
}
