.locations {
  // position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 88%;

  @include min($desktop) {
    margin-bottom: 130px;
  }

  &__wrap {
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
    background-color: #292e34;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;

    @include min($tablet) {
      margin: 0 auto;
      padding: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 719px;
    }

    @include min($desktop) {
      width: 1070px;
    }
  }

  &__wrapper {
    @include min($desktop) {
      margin: 0 auto;
      margin-top: 0;
      display: flex;
      flex-direction: row;
      max-width: 1290px;
      box-sizing: border-box;
    }
  }

  &__slider {
    position: relative;
    // width: 280px;
    // height: 190px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);

    &--open {
      width: 100vw;
      position: absolute;
      // top: 50%;
      left: 50%;
      transform:  translateX(-50%);
    }

    @include min($tablet) {
      width: 670px;
      height: 450px;
      flex-shrink: 0;
    }

    @include min($desktop) {
      margin: 0;
      width: 750px;
      height: 500px;
      flex-shrink: 0;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include min($desktop) {
      width: auto;
      margin-bottom: 35px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;

    @include min($desktop) {
      padding: 0;
      width: 300px;

      margin-left: 50px;
      text-align: left;

      font-size: 15px;
      line-height: 21px;
    }
  }

  &__list {
    display: flex;
    width: 100%;
  }

  &__item {
    width: 100%;
    max-height: 700px;
    background-color: #fff;
    // display: flex;
    overflow: hidden;
  }

  &__pic {
    display: flex;
  }

  &__picture {
    width: 100%;
  }
}
