.owl {



  &-stage {
    display: flex;
  }

  &-prev,
  &-next {
    @include min($desktop) {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #fdd9a8;

      &::hover,
      &::focus {
        background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
      }
    }

    span {
      color: #fdd9a8;
      font-size: 25px;
    }
  }

  &-prev::hover,
  &-next::hover,
  &-prev::focus,
  &-next::focus {
    @include min($desktop) {
      background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%) !important;
    }
  }

  &-next {
    right: 0;
  }

  &-prev {
    left: 0;
  }
}

.disabled {
  display: none;
}

// .owl-prev::hover,
// .owl-next::hover,
// .owl-prev::focus,
// .owl-next::focus {
//   color: red;
//   background: linear-gradient(90deg, #57514a 0%, #fdd9a8 50.35%, #d1aa70 100%) !important;
// }
