.page-header {
  position: relative;
  background-color: black;
  margin: 0 auto;

  &__scroll {
    position: fixed;
    z-index: 500;
    width: 100%;
    background: black;
  }

  @include min($tablet) {
    background: transparent;
    z-index: 500;

    &__scroll {
      background: rgba(0, 0, 0, 0.85);
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  &__logo-image {
    cursor: pointer;
    width: 85px;
    padding-left: 30px;

    @include min($tablet) {
      width: 127px;
    }
  }

  & .footer__wrapper {
    display: none;

    @include min($tablet) {
      display: block;
      width: auto;
    }
  }

  &__nav-list {
    @include list-reset;
    margin-bottom: 50px;
  }

  &__nav-link {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #d8ad78;
    }
  }

  &__nav-button {
    margin: 0;

    @include min($tablet) {
      margin-bottom: 50px;
    }
  }

  &__nav-toggle {
    outline: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/menu_duo.svg);
    border: none;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__contact-item {
    a {
      display: block;
      padding: 0;
      width: 30px;
      height: 30px;

      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .page-header__link--phone {
      background-image: url(../img/icon_phone.svg);
    }

    .page-header__link--tg {
      background-image: url(../img/tg_icon.svg);

    }
  }

  &__nav-wrapper {
    opacity: 85%;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 70px;
    width: 100%;
    padding: 0 20px;
    background: linear-gradient(311.98deg, #353a40 6.11%, #16171b 90.27%);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.17);
    z-index: 500;

    transition: max-height .5s, padding .5s;
    overflow: hidden;
    max-height: 0;

    @include min($tablet) {
      top: 0;

      width: 395px;
    }
  }

  &--open {
    .page-header__wrapper {
      @include min($tablet) {
        padding-left: 50px;
      }


    }

    .page-header__nav-wrapper {
      max-height: 100vh;
      padding: 40px 20px;

      @include min($tablet) {
        max-height: 1000px;
        padding-top: 90px;
      }
    }

    .page-header {
      &__nav-toggle {
        transform: rotate(90deg);

        @include min($tablet) {
          position: absolute;
          z-index: 510;
          transform: rotate(90deg);
          top: 30px;
          left: 20px;
        }
      }
    }
  }
}
