.profits {
  width: 100%;

  @include min($tablet) {
    margin-bottom: 30px;
  }

  @include min($desktop) {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 25px;

    @include min($tablet) {
      padding: 0 10%;
    }

    @include min($desktop) {
      width: 880px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @include min($tablet) {
      font-size: 18px;
      line-height: 22px;
    }

    @include min($desktop) {
      margin-bottom: 55px;
    }
  }

  &__list {
    @include list-reset;
    margin: 0 auto;
    display: block;
    width: 190px;

    @include min($tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      width: 670px;
    }

    @include min($desktop) {
      width: 80%;
    }
  }

  &__item {
    @include min($tablet) {
      width: 190px;
    }

    &--button {
      @include min($tablet) {
        align-self: flex-start;
        margin-top: 53px;
        flex-grow: 1;
      }

      @include min($desktop) {
        display: none;
      }
    }
  }

  &__button {
    display: none;

    @include min($tablet) {
      display: flex;
      margin: 0;
      margin-left: 50px;
      width: 430px;
    }

    @include min($desktop) {
      display: none;
      margin: 0;
      margin-left: 50px;
      width: 430px;
    }
  }

  &__picture {
    position: relative;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;

    &--tropic {
      width: 100%;
    }

    &--car,
    &--flat {
      left: 60%;
      transform: translateX(-50%);
    }
  }

  &-item__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  &__item-wrapper {
    position: relative;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 190px;
      height: 100px;
      background: linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
      box-shadow: 0px 2px 3px rgba(118, 118, 118, 0.07), inset 0px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
