.write {
  position: relative;
  margin-bottom: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/mixstudio.svg);
  background-repeat: space;
  background-size: 100%;

  @include min($tablet) {
    padding-bottom: 400px;
    background-repeat: space;
    background-position: auto;
  }

  @include min($desktop) {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 130px;
    background-size: 100%;
  }

  &::after {
    @include min($tablet) {
      content: "";
      position: absolute;
      width: 347px;
      height: 538px;
      background-image: url(../img/write_tablet.png);
      background-size: 266px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      bottom: 0;
      right: -44px;
    }
  }

  &__form {
    padding-top: 20px;
    width: 280px;
    margin: 0 auto;
    background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 2px solid #424750;
    overflow: hidden;

    @include min($tablet) {
      padding-top: 45px;
      padding-bottom: 32px;
      width: 636px;
      border-radius: 20px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include min($tablet) {
      width: 636px;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #adadad;

    @include min($tablet) {
      margin-bottom: 30px;
      padding-left: 160px;
      padding-right: 160px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__input {
    outline: none;
    border: none;
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 11px;
    border-radius: 7px;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
    box-shadow: 0px 2px 3px rgba(118, 118, 118, 0.07), inset 0px 4px 7px rgba(0, 0, 0, 0.25);

    @include min($tablet) {
      width: 410px;
      font-size: 18px;
      line-height: 22px;
    }

    &+#tel {
      margin-bottom: 35px;
    }
  }

  &__button {
    margin-top: 20px;
    box-shadow: none;
    border: none;
    border-radius: 0;

    @include min($tablet) {
      border-radius: 5px;
      box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.2);
    }
  }

  &__text {
    padding: 0 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #7a7a7a;

    @include min($tablet) {
      display: none;
    }

    &--tablet {
      display: none;

      @include min($tablet) {
        display: block;
        padding-left: 150px;
        padding-right: 150px;
      }
    }
  }
}
