@import "variables.scss";
@import "mixins.scss";

html {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  background: linear-gradient(311.98deg, #353a40 6.11%, #16171b 90.27%);
}

.button {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 50px;

  background: linear-gradient(87.71deg, #bd925b 0%, #ddb179 31.08%, #f5c98e 62.85%, #bc9660 95.14%);
  box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.2);
  border-radius: 5px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  color: #ffffff;

  &:hover {
    background: linear-gradient(87.71deg, #ab814c 0%, #cf9851 31.08%, #f2bd75 62.85%, #b48e58 95.14%);
    box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.25);
  }

  &:active {
    background: radial-gradient(63.09% 63.09% at 47.8% 36.19%, #cda36d 0%, #f9d5a8 100%);
    opacity: 0.4;
  }

  &--black {
    background: transparent;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #d8ad78;
    color: #d8ad78;

    &:hover {
      background: transparent;
      box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.25);
    }

    &:active {
      background: transparent;
      opacity: 0.4;
    }
  }

  @include min($tablet) {
    width: 340px;
    min-height: 60px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
  }
}

.title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #d8ad78;
  margin: 0 auto;

  @include min($tablet) {
    font-size: 40px;
    line-height: 49px;
  }

  @include min($desktop) {
    font-size: 50px;
    line-height: 61px;
    width: 636px;
  }
}

.container {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  overflow: hidden;

  @include min($tablet) {
    width: 100%;
  }

  @include min($desktop) {
    position: relative;
    width: 100%;
  }
}

.page-header {
  position: relative;
  background-color: black;
  margin: 0 auto;

  &__scroll {
    position: fixed;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 500;
    width: 100%;
    background: black;
  }

  @include min($tablet) {
    background: transparent;
    z-index: 500;

    &__scroll {
      background: rgba(0, 0, 0, 0.85);
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  &__logo-image {
    width: 85px;

    @include min($tablet) {
      width: 127px;
    }
  }

  & .footer__wrapper {
    display: none;

    @include min($tablet) {
      display: block;
      width: auto;
    }
  }

  &__nav-list {
    @include list-reset;
    margin-bottom: 50px;
  }

  &__nav-link {
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #d8ad78;
    }
  }

  &__nav-button {
    margin: 0;

    @include min($tablet) {
      margin-bottom: 50px;
    }
  }

  &__nav-toggle {
    outline: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/menu_duo.svg);
    border: none;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__contact-item {
    a {
      display: block;
      padding: 0;
      width: 30px;
      height: 30px;
      background-image: url(../img/icon_phone.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:not(:first-child) {
      display: none;
    }
  }

  &__nav-wrapper {
    // display: none;
    opacity: 85%;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 70px;
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    background: linear-gradient(311.98deg, #353a40 6.11%, #16171b 90.27%);
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.17);
    transition: all 0.5s;
    z-index: 500;

    @include min($tablet) {
      top: 0;
      padding-top: 90px;
      width: 395px;
      height: auto;
    }
  }

  &--open {
    .page-header__wrapper {
      @include min($tablet) {
        padding-left: 50px;
      }
    }

    .page-header {
      &__nav-toggle {
        transform: rotate(90deg);

        @include min($tablet) {
          position: absolute;
          z-index: 510;
          transform: rotate(90deg);
          top: 30px;
          left: 20px;
        }
      }
    }
  }
}

.main {
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  padding: 23px 20px 0;
  min-height: 475px;
  background-image: url(../img/mixstudio.svg);
  background-repeat: space;
  background-size: 120vw;

  @include min($tablet) {
    background-size: 1350px;
    min-height: 650px;
    margin-top: -90px;
    padding-top: 125px;
    margin-bottom: 0;
    background-repeat: space;
  }

  @include min($desktop) {
    min-height: auto;
    background-size: 100vw;
    background-repeat: repeat;
    padding-top: 230px;
  }

  &__title {
    margin-bottom: 15px;

    @include min($desktop) {
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @include min($tablet) {
      font-size: 30px;
      line-height: 37px;
    }

    @include min($desktop) {
      font-size: 40px;
      line-height: 49px;
      padding-bottom: 453px;
    }
  }

  &__wrapper {
    @include min($desktop) {
      display: block;
      position: relative;
      width: 1290px;
      margin: 0 auto;
    }
  }

  &__img {
    position: absolute;
    left: -15px;
    bottom: 0;

    @include min($tablet) {
      display: none;
    }

    @include min($desktop) {
      display: block;
      width: 518px;
      left: -160px;
    }
  }

  &__img-odd {
    position: absolute;
    bottom: 0;
    right: -15px;

    @include min($tablet) {
      display: block;
      width: 375px;
      right: 0;
    }

    @include min($desktop) {
      display: block;
      width: 599px;
      right: -180px;
    }
  }

  &__button {
    margin-bottom: 30px;

    @include min($tablet) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 340px;
    }

    @include min($desktop) {
      top: 540px;
    }
  }
}

.about-us {
  padding: 40px 0;

  background-image: url(../img/city.png);
  background-repeat: no-repeat;
  background-size: contain;

  @include min($tablet) {
    background-image: url(../img/city-tablet.png);
    position: relative;
  }

  @include min($desktop) {
    background-image: url(../img/city-desktop.png);
    width: 100%;
    margin-bottom: 60px;
  }

  &__wrapper {
    padding: 0 15px;
    position: relative;

    @include min($tablet) {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
    }

    @include min($desktop) {
      width: 1070px;
      margin: 0 auto;
    }
  }

  &__text-wrapper {
    @include min($tablet) {
      padding-top: 40px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @include min($tablet) {
      font-size: 20px;
      line-height: 24px;
      text-align: left;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #adadad;

    span {
      margin-bottom: 25px;
    }

    @include min($tablet) {
      font-size: 15px;
      line-height: 18px;
      text-align: left;
    }

    @include min($desktop) {
      margin-bottom: 35px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

    @include min($tablet) {
      width: 322px;
    }
  }

  &__button {
    @include min($tablet) {
      position: absolute;
      bottom: 130px;
      left: 20px;
    }

    @include min($desktop) {
      display: none;
    }

    &--desktop {
      display: none;

      @include min($desktop) {
        display: flex;
        margin: 0;
      }
    }
  }
}

.advantages {
  margin-bottom: 60px;

  @include min($desktop) {
    margin-bottom: 130px;
  }

  &__wrapper {
    @include min($tablet) {
      width: 728px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }

    @include min($desktop) {
      position: relative;
      width: 850px;
      padding-left: 423px;
    }

    &::before {
      @include min($desktop) {
        position: absolute;
        content: "";
        width: 879px;
        height: 608px;
        background-image: url(../img/advantages-desktop.png);
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        bottom: 19px;
        left: -445px;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__list {
    @include list-reset;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 210px;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #adadad;

    @include min($tablet) {
      font-size: 11px;
      line-height: 13px;
      width: 245px;
    }
  }

  &-item__title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    @include min($tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__item {
    box-sizing: border-box;
    position: relative;
    width: 280px;
    padding-left: 70px;
    margin-bottom: 15px;
    min-height: 60px;

    @include min($tablet) {
      padding-left: 90px;
      width: 340px;
      min-height: 80px;
    }

    @include min($desktop) {
      width: 410px;
      max-height: 85px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      background: url(../img/money.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
      box-shadow: 0px 2px 3px rgba(118, 118, 118, 0.07), inset 0px 4px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: 30px, auto;

      @include min($tablet) {
        width: 80px;
        height: 80px;
        background-size: 50px, auto;
      }
    }

    &--graph {
      &::before {
        background: url(../img/icon-calendar.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px, auto;

        @include min($tablet) {
          background-size: 50px, auto;
        }
      }
    }

    &--office {
      &::before {
        background: url(../img/icon-internet.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px, auto;

        @include min($tablet) {
          background-size: 50px, auto;
        }
      }
    }

    &--curator {
      &::before {
        background: url(../img/icon-branching.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px, auto;

        @include min($tablet) {
          background-size: 50px, auto;
        }
      }
    }

    &--money {
      &::before {
        background: url(../img/icon-pay-day.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px, auto;

        @include min($tablet) {
          background-size: 50px, auto;
        }
      }
    }

    &--room {
      &::before {
        background: url(../img/icon-room.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px, auto;

        @include min($tablet) {
          background-size: 50px, auto;
        }
      }
    }

    &--fine {
      &::before {
        background: url(../img/icon-insurance.svg), linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px, auto;

        @include min($tablet) {
          background-size: 50px, auto;
        }
      }
    }

    &--button {
      padding: 0;

      @include min($desktop) {
        margin-left: -65px;
        min-height: 85px;
      }
    }
  }
}

.locations {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 88%;

  @include min($desktop) {
    margin-bottom: 130px;
  }

  &__slider {
    position: relative;
  }

  &__title {
    margin-bottom: 25px;

    @include min($desktop) {
      width: auto;
    }
  }

  &__text {
    display: block;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @include min($desktop) {
      width: 910px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }

  &__lists {
    display: flex;
    width: auto;
  }

  &__item {
    flex-shrink: 0;
    width: 143px;
    height: 90px;
    background-color: #fff;
    display: block;
    overflow: hidden;

    @include min($tablet) {
      width: 300px;
      height: 195px;
    }

    @include min($desktop) {
      width: 400px;
      height: 260px;
    }
  }

  &__img {
    width: 100%;
  }
}

.calculator {
  overflow: hidden;
  width: 88%;
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 2px solid #424750;
  max-width: 1070px;

  @include min($desktop) {
    margin-bottom: 40px;
  }

  &__button {
    margin-bottom: 40px;

    @include min($desktop) {
      margin-bottom: 130px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include min($tablet) {
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 40px;
    }

    @include min($desktop) {
      margin-bottom: 55px;
    }
  }

  & .calculation {
    padding: 20px 16px;

    @include min($tablet) {
      padding: 40px 16px;
    }

    @include min($desktop) {
      padding: 45px 110px;
      padding-bottom: 20px;
    }

    &__wrapper {
      @include min($desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__title {
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      text-align: center;

      @include min($tablet) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &-scale__numbers-list {
      @include list-reset;
      margin-bottom: 18px;
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #7c7c7c;
    }

    &-scale__numbers-item--work {
      text-align: center;
      font-size: 12px;

      @include min($tablet) {
        font-size: 14px;
        width: 25%;
      }

      @include min($desktop) {
        width: 25%;
      }

      &:first-child {
        text-align: left;

        @include min($tablet) {
          width: 16%;
        }
      }

      &:last-child {
        text-align: right;

        @include min($tablet) {
          width: 17%;
        }
      }
    }

    &-scale__line {
      position: relative;
      width: 100%;
      height: 6px;
      background: #202226;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4e5154;
      border-radius: 100px;

      &--progress {
        width: 50%;
        background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
        box-shadow: 0px 3px 25px rgba(28, 21, 20, 0.25);
        border-radius: 5px;
      }
    }

    &-scale__text {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      text-align: center;

      @include min($tablet) {
        font-size: 12px;
        line-height: 15px;
      }
    }

    &-scale__button {
      position: absolute;
      width: 20px;
      height: 20px;
      background: linear-gradient(140deg, #141515 14.75%, #2e3236 84.81%);
      border: 1px solid #282b2e;
      box-sizing: border-box;
      box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.35);
      border-radius: 30px;
      left: 45%;
      top: -7px;

      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        top: 50%;
        left: 50%;
        background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
        box-shadow: 0px 3px 25px rgba(28, 21, 20, 0.25);
        border-radius: 5px;
        transform: translate(-50%, -50%);
      }
    }

    &__scale {
      margin: 0 auto;
      margin-bottom: 30px;
      width: 250px;

      @include min($tablet) {
        width: 410px;
      }

      @include min($desktop) {
        margin-right: 0;
      }
    }
  }
}

.result {
  padding: 15px 25px;
  background: linear-gradient(180deg, #292e34 -56.47%, #16171b 100%);

  @include min($desktop) {
    padding: 10px 110px;
  }

  &__title {
    margin-top: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @include min($tablet) {
      margin: 0;
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__sum {
    margin: 0 auto;
    display: block;
    padding: 14px 50px;

    background: #ffffff;
    box-shadow: inset 0px 7px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #d8ad78;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    text-align: center;

    @include min($tablet) {
      margin: 0;
      width: 370px;
      padding: 10px 20px;
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    color: #5a5a5a;

    @include min($tablet) {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__wrapper {
    margin-bottom: 10px;

    @include min($tablet) {
      margin: 0 auto;
      margin-bottom: 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.profits {
  width: 100%;

  @include min($tablet) {
    margin-bottom: 30px;
  }

  @include min($desktop) {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 25px;

    @include min($tablet) {
      padding: 0 10%;
    }

    @include min($desktop) {
      width: 880px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    width: 80%;
    margin: 0 auto;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @include min($tablet) {
      font-size: 18px;
      line-height: 22px;
    }

    @include min($desktop) {
      margin-bottom: 55px;
    }
  }

  &__list {
    @include list-reset;
    margin: 0 auto;
    display: block;
    width: 190px;

    @include min($tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      width: 670px;
    }

    @include min($desktop) {
      width: 80%;
    }
  }

  &__item {
    @include min($tablet) {
      width: 190px;
    }

    &--button {
      @include min($tablet) {
        align-self: flex-start;
        margin-top: 53px;
        flex-grow: 1;
      }

      @include min($desktop) {
        display: none;
      }
    }
  }

  &__button {
    display: none;

    @include min($tablet) {
      display: flex;
      margin: 0;
      margin-left: 50px;
      width: 430px;
    }

    @include min($desktop) {
      display: none;
      margin: 0;
      margin-left: 50px;
      width: 430px;
    }
  }

  &__picture {
    position: relative;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;

    &--tropic {
      width: 100%;
    }

    &--car,
    &--flat {
      left: 60%;
      transform: translateX(-50%);
    }
  }

  &-item__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  &__item-wrapper {
    position: relative;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 190px;
      height: 100px;
      background: linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
      box-shadow: 0px 2px 3px rgba(118, 118, 118, 0.07), inset 0px 4px 7px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.write {
  position: relative;
  margin-bottom: 55px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/mixstudio.svg);
  background-repeat: space;
  background-size: 110vw;

  @include min($tablet) {
    padding-bottom: 400px;
    background-repeat: space;
    background-position: auto;
  }

  @include min($desktop) {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 130px;
    background-size: 100vw;
  }

  &::after {
    @include min($tablet) {
      content: "";
      position: absolute;
      width: 347px;
      height: 538px;
      background-image: url(../img/write_tablet.png);
      background-size: 266px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      bottom: 0;
      right: -44px;
    }
  }

  &__form {
    padding-top: 20px;
    width: 280px;
    margin: 0 auto;
    background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 2px solid #424750;
    overflow: hidden;

    @include min($tablet) {
      padding-top: 45px;
      padding-bottom: 32px;
      width: 636px;
      border-radius: 20px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @include min($tablet) {
      width: 636px;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #adadad;

    @include min($tablet) {
      margin-bottom: 30px;
      padding-left: 160px;
      padding-right: 160px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__input {
    outline: none;
    border: none;
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 11px;
    border-radius: 7px;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(311.98deg, #252729 6.11%, #16171b 90.27%);
    box-shadow: 0px 2px 3px rgba(118, 118, 118, 0.07), inset 0px 4px 7px rgba(0, 0, 0, 0.25);

    @include min($tablet) {
      width: 410px;
      font-size: 18px;
      line-height: 22px;
    }

    & + #tel {
      margin-bottom: 35px;
    }
  }

  &__button {
    margin-top: 20px;
    box-shadow: none;
    border: none;
    border-radius: 0;

    @include min($tablet) {
      border-radius: 5px;
      box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.2);
    }
  }

  &__text {
    padding: 0 15px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #7a7a7a;

    @include min($tablet) {
      display: none;
    }

    &--tablet {
      display: none;

      @include min($tablet) {
        display: block;
        padding-left: 150px;
        padding-right: 150px;
      }
    }
  }
}

input:focus {
  color: #d8ad78;
  border: 1px solid #d8ad78;
  background-color: #fff;
}

.comand {
  margin-bottom: 50px;
  padding-top: 35px;
  background-image: url(../img/comand.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @include min($tablet) {
    margin-bottom: 70px;
    // background-size: contain;
    background-image: url(../img/comand-tablet.png);
  }

  @include min($desktop) {
    margin-bottom: 130px;
    background-image: url(../img/comand-desktop.png);
    background-size: cover;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__list {
    @include list-reset;
    margin-bottom: 35px;

    @include min($desktop) {
      margin: 0 auto;
      width: 880px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    margin: 0 auto;
    padding: 13px;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    box-sizing: border-box;

    @include min($tablet) {
      width: 415px;
      flex-shrink: 0;
      margin-bottom: 30px;
    }
  }

  &-item__number {
    margin: 0;
    font-weight: 900;
    margin-right: 20px;
    font-size: 80px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;
    color: #d8ad78;

    @include min($tablet) {
      font-size: 100px;
      line-height: 122px;
    }
  }

  &-item__title {
    display: block;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;

    @include min($tablet) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &-item__text {
    display: block;
    width: 217px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #adadad;

    @include min($tablet) {
      font-size: 13px;
      line-height: 16px;
      width: auto;
    }
  }

  &__button {
    @include min($tablet) {
      display: none;
    }

    &--desktop {
      display: none;

      @include min($desktop) {
        display: flex;
      }
    }
  }
}

.why {
  margin-bottom: 55px;

  @include min($tablet) {
    margin-bottom: 70px;
  }

  &__title {
    padding: 0 20px;
    margin-bottom: 40px;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 40px;
    min-height: 100px;
    background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
    opacity: 0.7;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #ffffff;

    transform: skewY(3deg);

    span {
      color: #d8ad78;
    }

    @include min($tablet) {
      transform: skewY(2deg);
    }

    @include min($desktop) {
      font-size: 20px;
      line-height: 24px;
      padding-left: 145px;
      transform: skewY(1deg);
      padding-right: 41%;
      margin-bottom: 60px;
    }

    &:nth-child(odd) {
      transform: skewY(-3deg);

      @include min($tablet) {
        transform: skewY(-2deg);
      }

      @include min($desktop) {
        transform: skewY(-1deg);
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 87px;
      height: 87px;
      background-image: url(../img/6.png);
      background-repeat: no-repeat;
      top: -25px;
      left: 55px;
      background-size: 120px;
      background-position: 50% 50%;

      @include min($tablet) {
        width: 150px;
        height: 150px;
        background-size: 208px;
      }

      @include min($desktop) {
        width: 209px;
        height: 209px;
        background-size: 250px;
        left: 50%;
        margin-left: 263px;
        top: -85px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 55px;

      @include min($tablet) {
        padding-left: 80px;
        padding-right: 225px;
      }

      @include min($desktop) {
        padding-left: 50%;
        padding-right: 17%;
      }

      &::before {
        width: 157px;
        height: 115px;
        left: auto;
        top: -85px;
        right: 0;
        background-size: 150px;
        background-image: url(../img/graph.png);

        @include min($tablet) {
          width: 206px;
          height: 150px;
          background-size: 200px;
          top: -65px;
          transform: rotate(-2deg);
        }

        @include min($desktop) {
          width: 226px;
          height: 170px;
          left: 50%;
          transform: translateX(-564px);
          top: -75px;
          background-size: 236px;
        }
      }
    }

    &:nth-child(3) {
      margin-bottom: 45px;

      @include min($tablet) {
        padding-left: 355px;
        padding-right: 80px;
      }

      @include min($desktop) {
        padding-left: 22%;
        padding-right: 50%;
      }

      &::before {
        width: 220px;
        height: 148px;
        left: auto;
        top: -85px;
        right: 50px;
        background-size: 192px;
        background-image: url(../img/map.png);

        @include min($tablet) {
          width: 336px;
          height: 226px;
          background-size: 350px;
          left: 10px;
        }

        @include min($desktop) {
          left: 50%;
          transform: translateX(-75px);
        }
      }
    }

    &:nth-child(4) {
      margin-bottom: 45px;

      @include min($tablet) {
        padding-left: 80px;
        padding-right: 225px;
      }

      @include min($desktop) {
        padding-left: 50%;
        padding-right: 17%;
      }

      &::before {
        width: 140px;
        height: 140px;
        left: auto;
        top: -100px;
        right: 0;
        background-size: 130px;
        background-image: url(../img/yes.png);

        @include min($tablet) {
          width: 154px;
          height: 164px;
          background-size: 160px;
          transform: rotate(0deg);
          right: 31px;
          top: -70px;
        }

        @include min($desktop) {
          width: 350px;
          height: 280px;
          left: 50%;
          transform: translateX(-620px) rotate(0deg);
          top: -123px;
          background-size: 177px;
        }
      }
    }

    &:nth-child(5) {
      @include min($tablet) {
        padding-left: 215px;
        padding-right: 53px;
      }

      @include min($desktop) {
        padding-left: 25%;
        padding-right: 50%;
      }

      &::before {
        width: 120px;
        height: 120px;
        left: 4px;
        top: -73px;
        background-size: 110px;
        background-image: url(../img/prize.png);

        @include min($tablet) {
          width: 182px;
          height: 169px;
          background-size: 188px;
          left: 48px;
          top: -35px;
        }

        @include min($desktop) {
          left: 50%;
          transform: translateX(0);
          top: -48px;
        }
      }
    }
  }
}

.reviews {
  margin-bottom: 45px;

  @include min($tablet) {
    margin-bottom: 75px;
  }

  &__title {
    margin-bottom: 25px;

    @include min($desktop) {
      margin-bottom: 50px;
      width: auto;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

    @include min($desktop) {
      max-width: 1130px;
      margin: 0 auto;
    }
  }

  &__item {
    width: 278px;
    height: auto;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;

    @include min($tablet) {
      width: 410px;
      height: auto;
      margin-right: 30px;
    }

    &:first-child {
      margin-left: 20px;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-photo {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;

      @include min($tablet) {
        width: 60px;
        height: 60px;
      }
    }

    &-name {
      color: #d8ad78;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

.questions {
  max-width: 1070px;
  margin: 0 auto;

  &__title {
    padding: 0 15px;
    margin-bottom: 25px;

    @include min($tablet) {
      width: 636px;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    @include min($desktop) {
      width: auto;
    }
  }

  &__list {
    @include list-reset;
    width: 280px;
    margin: 0 auto;

    @include min($tablet) {
      width: 728px;
    }

    @include min($desktop) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__item {
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 2px solid #424750;
    background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
    opacity: 0.9;

    &-title {
      cursor: pointer;
      position: relative;
      padding: 16px 15px;
      padding-right: 35px;
      margin: 0;
      background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;

      @include min($tablet) {
        padding: 20px 30px;
        font-size: 16px;
        line-height: 20px;
        padding-right: 50px;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url(../img/chevron_down.svg);
        transform: translateY(-50%);
        transition: all 0.5s;
      }
    }

    &-text {
      height: 0;
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      box-sizing: border-box;
      transition: height 3s;

      @include min($tablet) {
        padding: 0;
        font-size: 13px;
        line-height: 16px;
      }
    }

    &--open {
      & .questions__item-text {
        transition: height 0.5s;
        padding: 15px;
        height: auto;

        @include min($tablet) {
          padding: 20px 30px;
          font-size: 13px;
          line-height: 16px;
        }
      }

      & .questions__item-title::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

.footer {
  background-color: #191a1e;
  padding: 50px 20px;
  margin-top: 55px;

  &__main-wrapper {
    position: relative;

    @include min($tablet) {
      padding: 50px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include min($desktop) {
      padding: 5px 20px;
      max-width: 1290px;
      margin: 0 auto;
    }
  }

  &__wrapper {
    margin-bottom: 30px;

    @include min($desktop) {
      width: 1290px;
    }
  }

  &__logo-image {
    display: none;

    @include min($tablet) {
      margin-bottom: 30px;
      width: 230px;
      height: 109px;
      display: block;
    }

    @include min($desktop) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__social-list {
    @include list-reset;
    display: flex;
    margin-bottom: 15px;
  }

  &__social-link {
    display: block;
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;

    &--whatsap {
      background-image: url(../img/whatsapp.svg);
    }

    &--vk {
      background-image: url(../img/vk.svg);
    }

    &--instagram {
      background-image: url(../img/instagram.svg);
    }

    &--telegram {
      background-image: url(../img/telegram.svg);
    }
  }

  &__contact-list {
    @include list-reset;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }

  &__contact-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &--phone {
      &::before {
        left: 2px;
        background-image: url(../img/icon_phone.svg);
      }
    }

    &--mail {
      &::before {
        left: 2px;
        background-image: url(../img/icon_mail.svg);
      }
    }

    &--clock {
      &::before {
        left: 2px;
        background-image: url(../img/icon_clock.svg);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__text {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #d8ad78;
  }

  &__map {
    width: 100%;
    height: 250px;

    flex-shrink: 0;

    @include min($tablet) {
      width: 350px;
      height: 300px;
    }
  }
}

.owl {
  &-stage {
    display: flex;
  }

  &-nav {
    display: none;

    @include min($desktop) {
      display: block;
    }
  }

  &-prev,
  &-next {
    cursor: pointer;
    display: none;
    border: none;
    outline: none;
    background: none;

    @include min($desktop) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #fdd9a8;

      &::hover,
      &::focus {
        background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
      }
    }

    span {
      color: #fdd9a8;
      font-size: 25px;
    }
  }

  &-prev::hover,
  &-next::hover,
  &-prev::focus,
  &-next::focus {
    background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%) !important;
  }

  &-next {
    right: 0;
  }

  &-prev {
    left: 0;
  }
}

.owl-prev::hover,
.owl-next::hover,
.owl-prev::focus,
.owl-next::focus {
  color: red;
  background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%) !important;
}

.ui-slider-handle {
  top: 50%;
  transform: translateY(-50%);
  margin-left: -0.6em;
  position: absolute;
  z-index: 2;
  touch-action: none;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  width: 20px;
  height: 20px;
  background: linear-gradient(140deg, #141515 14.75%, #2e3236 84.81%);
  border: 1px solid #282b2e;
  box-sizing: border-box;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.35);
  border-radius: 30px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 50%;
    left: 50%;
    background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
    box-shadow: 0px 3px 25px rgba(28, 21, 20, 0.25);
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
}

.ui-widget-content {
  position: relative;
  height: 6px;
  background: #202226;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4e5154;
  border-radius: 100px;

  .slider-bar {
    content: "";
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
    box-shadow: 0px 3px 25px rgba(28, 21, 20, 0.25);
    border-radius: 5px;
  }
}
