@import "variables.scss";
@import "mixins.scss";



html {
  font-family: Montserrat, "Arial", sans-serif;
  ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  background: linear-gradient(311.98deg, #353a40 6.11%, #16171b 90.27%);
}

.body__block {
  overflow: hidden;
  height: 100vh !important;
  width: 100vw !important;

  &::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1400;
  }
}

.button {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 50px;

  background: linear-gradient(87.71deg, #bd925b 0%, #ddb179 31.08%, #f5c98e 62.85%, #bc9660 95.14%);
  box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.2);
  border-radius: 5px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  color: #ffffff;

  &:hover {
    background: linear-gradient(87.71deg, #ab814c 0%, #cf9851 31.08%, #f2bd75 62.85%, #b48e58 95.14%);
    box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.25);
  }

  &:active {
    background: radial-gradient(63.09% 63.09% at 47.8% 36.19%, #cda36d 0%, #f9d5a8 100%);
    opacity: 0.4;
  }

  &--black {
    background: transparent;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #d8ad78;
    color: #d8ad78;

    &:hover {
      background: transparent;
      box-shadow: 0px 0px 89px 30px rgba(245, 201, 142, 0.25);
    }

    &:active {
      background: transparent;
      opacity: 0.4;
    }
  }

  @include min($tablet) {
    width: 340px;
    min-height: 60px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
  }
}

.title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #d8ad78;
  margin: 0 auto;

  @include min($tablet) {
    font-size: 40px;
    line-height: 49px;
  }

  @include min($desktop) {
    font-size: 50px;
    line-height: 61px;
    width: 636px;
  }
}

.container {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  overflow: hidden;

  @include min($tablet) {
    width: 100%;
  }

  @include min($desktop) {
    position: relative;
    width: 100%;
  }
}

@import "./blocks/page_header.scss";
@import "./blocks/main.scss";
@import "./blocks/about_us.scss";
@import "./blocks/advantages.scss";
@import "./blocks/calculator.scss";
@import "./blocks/comand.scss";
@import "./blocks/locations.scss";
@import "./blocks/profits.scss";
@import "./blocks/quetions.scss";
@import "./blocks/result.scss";
@import "./blocks/reviews.scss";
@import "./blocks/steps.scss";
@import "./blocks/write.scss";
@import "./blocks/owl.scss";
@import "./blocks/footer.scss";
@import "./blocks/popup.scss";

input:focus {
  color: #d8ad78;
  border: 1px solid #d8ad78;
  background-color: #fff;
}

.elem {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.elem::-webkit-scrollbar {
  width: 0;
  height: 0;
}



.ui-slider-handle {
  top: 50%;
  transform: translateY(-50%);
  margin-left: -0.6em;
  position: absolute;
  z-index: 2;
  touch-action: none;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  width: 20px;
  height: 20px;
  background: linear-gradient(140deg, #141515 14.75%, #2e3236 84.81%);
  border: 1px solid #282b2e;
  box-sizing: border-box;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.35);
  border-radius: 30px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 50%;
    left: 50%;
    background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
    box-shadow: 0px 3px 25px rgba(28, 21, 20, 0.25);
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }
}

.ui-widget-content {
  position: relative;
  height: 6px;
  background: #202226;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4e5154;
  border-radius: 100px;

  .slider-bar {
    content: "";
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #d8ad78 0%, #fdd9a8 50.35%, #d1aa70 100%);
    box-shadow: 0px 3px 25px rgba(28, 21, 20, 0.25);
    border-radius: 5px;
  }
}
